<html>
<head>
  <title>Java Shooter Game</title>
  <meta name="subtitle" content="PR000019" />
  <meta name="tags" content="log" />
  <meta name="date" content="2015-08-31" />
  <meta name="modified" content="" />
  <meta name="authors" content="Tibor Simon" />
  <meta name="slug" content="projects/PR000019" />
  <meta name="manual" content="enabled" />
  <meta name="comments" content="enabled" />
</head>
<body>
    <div class="container main-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tspr-individual">PR000019</div>
                    </div>
                    <div class="col-xs-12 project-corresponding-articles">
                        <h2 style="margin-bottom: 0">Corresponding articles</h2>
                        <hr style="margin-top: 6px" />
                        <div class="row masonry-container">
                        </div>
                        <hr class="hidden-xs hidden-sm"/>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="project-toc" style="color: #555;">
                            <h3>Contents</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9">
                        <div class="project-documentation">
<!-- =======================================================================================================================
   D O C   S T A R T
======================================================================================================================== -->  
<h1>Latest revision</h1>

<p>During the last semester I had a subject that required to create a java program. I decided to write a small game similar to Minigore. The game is written in java with LWJGL and Slick2D game libraries.</p>

<iframe width="640" height="360" src="https://www.youtube.com/embed/dUKqIYJZlOk" frameborder="0" allowfullscreen></iframe>


<p>It uses some open source stuff, like the explosion animation and the music for the promo video. The game is open source, so you can go to GitHub to see how the game functionalities were implemented.</p>

<p>{% include repo_and_release.html %}</p>

<p>If the game won’t open by clicking on it (like on OSX Moutain Lion), you have to open it from command line. If the command line returns an error like pixel format not accelerated, you should check out these sites for the solution.</p>

<script src="https://gist.github.com/tiborsimon/b052b74db0fdc360a885.js"></script>


<h2>Main menu</h2>

<p>In the Main Menu you have 4 options but in reality 3 of them is working right now.</p>

<ul>
<li>Play – it goes t the new game menu</li>
<li>Player – it goes to the player menu</li>
<li>Scores – currently not working</li>
<li>Exit – it exits the game</li>
</ul>


<p><figure>
    <img src="/images/java-shooter/javashooter-1.png" alt="Java Shooter Game: main menu" width="550" />
</figure></p>

<h2>Game menu</h2>

<p>In the New Game Menu you can start Easy, Normal and Expert game.</p>

<ul>
<li>Easy – slow enemies with slow spawning time + auto aiming</li>
<li>Normal – faster enemies with faster spawning time + auto aiming</li>
<li>Expert – slow enemies with slow spawning time + manual aiming (very hard!)</li>
</ul>


<p><figure>
    <img src="/images/java-shooter/javashooter-2.png" alt="Java Shooter Game: game menu" width="550" />
</figure></p>

<h2>Player menu</h2>

<p>In the Player Menu you can view the stats of the current player, export your player data, and create new player.</p>

<ul>
<li>Export – it exports the current player stats to transfer them another computer.</li>
<li>New – it goes to the New Player Menu</li>
</ul>


<p><figure>
    <img src="/images/java-shooter/javashooter-3.png" alt="Java Shooter Game: player menu" width="550" />
</figure></p>

<h2>Controlling the game</h2>

<p>The game follows the conventions: you can move with the arrow keys, and fire with the <code>space bar</code>. In <em>Easy</em> and <em>Normal</em> mode the game aims for you, but in <em>Expert</em> mode aiming is your task with <code>T</code> and <code>H</code> keys.</p>

<p>During the game the mouse pointer disappears (in mac you have to move the pointer a bit unless it won’t disappear). With the <code>ESC</code> key you can bring up the Pause Menu, and the mouse pointer will show up again.</p>

<h2>Modding the gameplay</h2>

<p>I have built in the possibility to mack around with the main game parameters. To do this you have to create a text file called mods_for_the_game.txt into the same folder where the jar file located.</p>

<h2>Hackable parameters</h2>

<ul>
<li>fullscreen [true/false] – the game can load in window or full screen mode.</li>
<li>overclock [fps in int] – sets the target fps. The actual fps is dependent on your machine.</li>
<li>showFPS [true/false] – turns the fps counter on or off</li>
<li>explosionPoolLimit [pool limit in int] – it is expensive to allocate many animation frames in real time, therefore the game allocates the explosion animation frames before the game starts. You can set the max number of animations preloaded to the animation pool. For high FPS rate it is recommended to set this value greater than 10. The game will load slower but it wont crash due to empty animation pool.</li>
<li>sparkPoolLimit [pool limit in int] – same as the explosionPoolLimit parameter. If you set high FPS rate set this value higher than 10.</li>
</ul>


<p>The syntax is very simple. First you type the keyword you want to modify (not case sensitive), space, then the value. This is a modifying block. You can use more blocks at once separated them with spaces. The default settings are the following:</p>

<script src="https://gist.github.com/tiborsimon/710934002c523b733247.js"></script>


<p><strong>If the game crashes, make sure you set the pool limits higher than 10!</strong></p>

<p>For example lets say you want to set higher FPS rate than the default 60 fps, and you want to play the game in full window mode with the FPS counter displayed. You have to create the mods_for_the_game.txt file next to the jar file.
The content of the text file in this case should be like this:</p>

<script src="https://gist.github.com/tiborsimon/bb949b0256f7b003055b.js"></script>


<p>Example video about how to overclock the game a bit.</p>

<iframe width="640" height="360" src="https://www.youtube.com/embed/L5NhA_ajQ_w" frameborder="0" allowfullscreen></iframe>


<h2>Summary</h2>

<p>The developed program isn't a full featured game but a skeleton, which you can develop further.</p>
<!-- =======================================================================================================================
   D O C   E N D
======================================================================================================================== -->  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!--
layout: post
title: Java Shooter Game
tags: java, game
published: True
repo_link: https://github.com/tiborsimon/java-shooter-game
version: v1.3
share_buttons: True
Date: 2015-01-17
Slug: projects/java-shooter-game

During the last semester I had a subject that required to create a java program. I decided to write a small game similar to Minigore. The game is written in java with LWJGL and Slick2D game libraries.

<iframe width="640" height="360" src="https://www.youtube.com/embed/dUKqIYJZlOk" frameborder="0" allowfullscreen></iframe>

It uses some open source stuff, like the explosion animation and the music for the promo video. The game is open source, so you can go to GitHub to see how the game functionalities were implemented.

{% include repo_and_release.html %}

If the game won’t open by clicking on it (like on OSX Moutain Lion), you have to open it from command line. If the command line returns an error like pixel format not accelerated, you should check out these sites for the solution.

<script src="https://gist.github.com/tiborsimon/b052b74db0fdc360a885.js"></script>

# Main menu

In the Main Menu you have 4 options but in reality 3 of them is working right now.

- Play – it goes t the new game menu
- Player – it goes to the player menu
- Scores – currently not working
- Exit – it exits the game

<figure>
    <img src="/images/java-shooter/javashooter-1.png" alt="Java Shooter Game: main menu" width="550" />
</figure>


# Game menu

In the New Game Menu you can start Easy, Normal and Expert game.

- Easy – slow enemies with slow spawning time + auto aiming
- Normal – faster enemies with faster spawning time + auto aiming
- Expert – slow enemies with slow spawning time + manual aiming (very hard!)

<figure>
    <img src="/images/java-shooter/javashooter-2.png" alt="Java Shooter Game: game menu" width="550" />
</figure>

# Player menu

In the Player Menu you can view the stats of the current player, export your player data, and create new player.

- Export – it exports the current player stats to transfer them another computer.
- New – it goes to the New Player Menu

<figure>
    <img src="/images/java-shooter/javashooter-3.png" alt="Java Shooter Game: player menu" width="550" />
</figure>

# Controlling the game

The game follows the conventions: you can move with the arrow keys, and fire with the `space bar`. In _Easy_ and _Normal_ mode the game aims for you, but in _Expert_ mode aiming is your task with `T` and `H` keys.

During the game the mouse pointer disappears (in mac you have to move the pointer a bit unless it won’t disappear). With the `ESC` key you can bring up the Pause Menu, and the mouse pointer will show up again.

# Modding the gameplay

I have built in the possibility to mack around with the main game parameters. To do this you have to create a text file called mods_for_the_game.txt into the same folder where the jar file located.

## Hackable parameters

- fullscreen [true/false] – the game can load in window or full screen mode.
- overclock [fps in int] – sets the target fps. The actual fps is dependent on your machine.
- showFPS [true/false] – turns the fps counter on or off
- explosionPoolLimit [pool limit in int] – it is expensive to allocate many animation frames in real time, therefore the game allocates the explosion animation frames before the game starts. You can set the max number of animations preloaded to the animation pool. For high FPS rate it is recommended to set this value greater than 10. The game will load slower but it wont crash due to empty animation pool.
- sparkPoolLimit [pool limit in int] – same as the explosionPoolLimit parameter. If you set high FPS rate set this value higher than 10.

The syntax is very simple. First you type the keyword you want to modify (not case sensitive), space, then the value. This is a modifying block. You can use more blocks at once separated them with spaces. The default settings are the following:

<script src="https://gist.github.com/tiborsimon/710934002c523b733247.js"></script>

__If the game crashes, make sure you set the pool limits higher than 10!__

For example lets say you want to set higher FPS rate than the default 60 fps, and you want to play the game in full window mode with the FPS counter displayed. You have to create the mods_for_the_game.txt file next to the jar file.
The content of the text file in this case should be like this:

<script src="https://gist.github.com/tiborsimon/bb949b0256f7b003055b.js"></script>

Example video about how to overclock the game a bit.

<iframe width="640" height="360" src="https://www.youtube.com/embed/L5NhA_ajQ_w" frameborder="0" allowfullscreen></iframe>


# Summary

The developed program isn't a full featured game but a skeleton, which you can develop further.

{% include repo_and_release.html %}
-->

