<html>
<head>
  <title>Smart Sinusoids</title>
  <meta name="subtitle" content="TSPR0003" />
  <meta name="tags" content="log" />
  <meta name="date" content="2015-08-31" />
  <meta name="modified" content="" />
  <meta name="authors" content="Tibor Simon" />
  <meta name="slug" content="projects/TSPR0003" />
  <meta name="manual" content="enabled" />
  <meta name="comments" content="enabled" />
</head>
<body>
    <div class="container main-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tspr-individual">TSPR0003</div>
                    </div>
                    <div class="col-xs-12 project-corresponding-articles">
                        <h2 style="margin-bottom: 0">Corresponding articles</h2>
                        <hr style="margin-top: 6px" />
                        <div class="row masonry-container">
                        </div>
                        <hr class="hidden-xs hidden-sm"/>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="project-toc" style="color: #555;">
                            <h3>Contents</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9">
                        <div class="project-documentation">
<!-- =======================================================================================================================
   D O C   S T A R T
======================================================================================================================== -->  
<h1>Documentation v1.3.0</h1>

<p>The easiest way to generate a sine or cosine signal in MATLAB. With this library there are almost infinite ways to describe and generate a sinusoid signals.</p>

<h2>Dependecy</h2>

<p>To use <em>ssin</em> or <em>scos</em>, you need to download and add to your path <a title="Simple Input Parser" href="http://tiborsimon.io/projects/TSPR0002/" target="_blank"><b>Simple Input Parser</b></a> which is a package that allows you to create functions with a more convenient interface for the users.</p>

<h2>Installation</h2>

<h4>1. Installing the dependency:</h4>

<ul>
<li>Download the <a href="https://github.com/tiborsimon/simple-input-parser/releases/latest">latest release of Simple Input Parser</a>.</li>
<li>Run the <code>install.m</code> script or the <code>install</code> command inside the downloaded <code>simple-input-parser</code> folder.</li>
<li>Done. Now you have <strong>Simple Input Parser</strong> on your system.</li>
</ul>


<h4>2. Installing <strong>Smart Sinusoids</strong></h4>

<ul>
<li>Download the <a href="https://github.com/tiborsimon/smart-sinusoids/releases/latest">latest release</a>.</li>
<li>Run the <code>install.m</code> script or the <code>install</code> command inside the downloaded <code>smart-sinusoids</code> folder.</li>
<li>Done. You can use <strong>Smart Sinusoids</strong> (and of course <em>Simple Input Parser</em> too).</li>
</ul>


<p><em>This installation method is powered by the <a href="http://tiborsimon.io/projects/TSPR0001/" target="_blank" >MATLAB Library System</a>.</em></p>

<h2>Features</h2>

<ul>
<li>fast and easy signal generation</li>
<li>flexible parameter handling</li>
<li>arbitrary parameter configurations</li>
<li>optional time vector generation</li>
</ul>


<h2>Possible parameters</h2>

<p>The following figure and table shows all of the possible parameters and its meaning.</p>

<p>
<div class="text-center" style="width: 100%; height: auto;">
  <img alt="Sine equation" class="img-responsive img-thumbnail" src="http://tiborsimon.io/images/smart-sinusoids/detailed.png">
  <figcaption>
   <small>
    <i>
      Sinusoid signal parameters
    </i>
   </small>
  </figcaption>
 </div>
</p>

<table>
<thead>
<tr>
<th align="center"> Symbol </th>
<th align="center"> Unit </th>
<th align="left"> Name </th>
</tr>
</thead>
<tbody>
<tr>
<td align="center"> <strong>A</strong>   </td>
<td align="center"> []   </td>
<td align="left"> signal amplitude</td>
</tr>
<tr>
<td align="center"> <strong>phi</strong> </td>
<td align="center"> [°]  </td>
<td align="left"> phase in degrees</td>
</tr>
<tr>
<td align="center"> <strong>f</strong>   </td>
<td align="center"> [Hz] </td>
<td align="left"> signal frequency</td>
</tr>
<tr>
<td align="center"> <strong>fs</strong>  </td>
<td align="center"> [Hz] </td>
<td align="left"> sample rate</td>
</tr>
<tr>
<td align="center"> <strong>T</strong>   </td>
<td align="center"> [s]  </td>
<td align="left"> signal period</td>
</tr>
<tr>
<td align="center"> <strong>dt</strong>  </td>
<td align="center"> [s]  </td>
<td align="left"> sample time</td>
</tr>
<tr>
<td align="center"> <strong>N</strong>   </td>
<td align="center"> []   </td>
<td align="left"> number of periods in the signal</td>
</tr>
<tr>
<td align="center"> <strong>n</strong>   </td>
<td align="center"> []   </td>
<td align="left"> sample count</td>
</tr>
<tr>
<td align="center"> <strong>L</strong>   </td>
<td align="center"> [s]  </td>
<td align="left"> signal length</td>
</tr>
<tr>
<td align="center"> <strong>x</strong>   </td>
<td align="center"> [st] </td>
<td align="left"> optional time vector scaling (see details later)</td>
</tr>
</tbody>
</table>


<h2>Possible use cases</h2>

<p>With these parameters there are 5 main generation methods for sinusoid signals. Each of them have alternatives that doesn't count as an individual generation method due to the used parameters can be derived from the others if you apply the following formulas: <em>fs = 1/dt</em>, <em>T = 1/f</em> and <em>L=n*dt</em>.</p>

<table>
<thead>
<tr>
<th align="center"> Method index </th>
<th align="left"> Required parameters </th>
<th align="left"> CT DT lock     </th>
<th align="left"> Description  </th>
</tr>
</thead>
<tbody>
<tr>
<td align="center"> 1 </td>
<td align="left"> <code>n</code>, <code>N</code>          </td>
<td align="left"> No  </td>
<td align="left"> a signal consisting of <code>n</code> data points with <code>N</code><br> periods in it</td>
</tr>
<tr>
<td align="center"> 2 </td>
<td align="left"> <code>L</code>, <code>N</code>, <code>fs</code>    </td>
<td align="left"> Yes </td>
<td align="left"> <code>L</code> seconds long signal consisting <code>N</code> periods<br> with the frequency <code>f</code></td>
</tr>
<tr>
<td align="center"> 3 </td>
<td align="left"> <code>f</code>, <code>N</code>, <code>fs</code>    </td>
<td align="left"> Yes </td>
<td align="left"> a signal sampled at <code>fs</code> sampling rate with <code>N</code> <br>periods in it with the frequency <code>f</code></td>
</tr>
<tr>
<td align="center"> 4 </td>
<td align="left"> <code>f</code>, <code>n</code>, <code>fs</code>    </td>
<td align="left"> Yes </td>
<td align="left"> Generating a sinusoid signal consisting of <code>n</code> <br>data points sampled at <code>fs</code> sampling rate with the frequency <code>f</code></td>
</tr>
<tr>
<td align="center"> 5 </td>
<td align="left"> <code>f</code>, <code>L</code>, <code>fs</code>    </td>
<td align="left"> Yes </td>
<td align="left"> a signal sampled at <code>fs</code> sampling rate with the <br>duration of <code>L</code> seconds with the frequency <code>f</code></td>
</tr>
</tbody>
</table>


<h3>Case 1</h3>

<ul>
<li><code>n</code> - number of samples</li>
<li><code>N</code> - periods in it</li>
</ul>


<pre>stem( ssin('n N', 200, 1.5) )</pre>

<h3>Case 2</h3>

<ul>
<li><code>L</code>  - signal lenght</li>
<li><code>N</code>  - periods in the signal</li>
<li><code>fs</code> - with a given sample frequency</li>
</ul>


<pre>stem( ssin('L N fs', 0.001, 3, 48e3) )</pre>

<h3>Case 3</h3>

<ul>
<li><code>f</code>  - signal frequency</li>
<li><code>N</code>  - periods in the signal</li>
<li><code>fs</code> - with a given sample frequency</li>
</ul>


<pre>stem( ssin('f N fs', 440, 1.3, 48e3) )</pre>

<h3>Case 4</h3>

<ul>
<li><code>f</code>  - signal frequency</li>
<li><code>n</code>  - number of samples</li>
<li><code>fs</code> - with a given sample frequency</li>
</ul>


<pre>stem( ssin('f n fs', 440, 200, 48e3) )</pre>

<h3>Case 5</h3>

<ul>
<li><code>f</code>  - signal frequency</li>
<li><code>L</code>  - signal lenght</li>
<li><code>fs</code> - with a given sample frequency</li>
</ul>


<pre>stem( ssin('f L fs', 800, 0.001, 48e3) )</pre>

<p>In every case every parameter can be substituted with the eqvivalent
counterparst. ie. f~T, fs~dt, L~n,dt ...</p>

<p>The amplitude (A) and phase (phi) are optional with the defualt values
A=1 and phi=0.</p>

<h2>Output parameter configurations</h2>

<p>There are three output parameter configurations</p>

<h3>No output parameter</h3>

<p>In this case Smart Sinusouds will output the signal vector in place.
This could be useful during plotting</p>

<pre>stem( ssin('f N fs', 440, 1.3, 48e3) )</pre>

<h3>One output parameter</h3>

<p>With this configuration you can save the signal vector into a variable.</p>

<pre>s = ssin('f N fs', 440, 1.3, 48e3);
stem(s)
</pre>

<h3>Two output parameter mode</h3>

<p>If you would like to use the time vector as well, you can generate it
too. The possibble values are the following:</p>

<table>
<thead>
<tr>
<th> Time vector type </th>
<th> x parameter    </th>
<th> Description                                     </th>
</tr>
</thead>
<tbody>
<tr>
<td> Sample count     </td>
<td> index          </td>
<td> Sample indexes from 1 to the number of samples. </td>
</tr>
<tr>
<td> Normalized       </td>
<td> norm           </td>
<td> Normalized vector spans from 0 to 1.            </td>
</tr>
<tr>
<td> Time [s]         </td>
<td> time or s      </td>
<td> Time duration of the signal in seconds.         </td>
</tr>
<tr>
<td> Time [ms]        </td>
<td> militime or ms </td>
<td> Time duration of the signal in seconds.         </td>
</tr>
</tbody>
</table>


<pre>[t,s] = ssin('f N fs x', 440, 1.3, 48e3, 'ms');
stem(t,s)
</pre>

<h2>License</h2>

<p>This project is under the <strong>MIT license</strong>.</p>

<p>Copyright (c) 2015 Tibor Simon</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.</p>
<!-- =======================================================================================================================
   D O C   E N D
======================================================================================================================== -->  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!--
layout: post
title: Smart Sinusoids
tags: matlab
share_buttons: True
Date: 2015-05-28
Slug: projects/smart-sinusoids

The easiest way to generate a sine or cosine signal in MATLAB. With this library there are almost infinite ways to describe and generate a sinusoid signals. 

<img src="/images/smart-sinusoids/3d.png" />

{% include repo_and_release.html %}

# Generating sinusoid signals

Generating sinusoid signals is often the first step for executing a more complex computation. It should be a routine, but actually it isn't. Many people struggles with it.

## The problem

The equation of a sinusoid signal is a known fact:

<img src="http://upload.wikimedia.org/math/9/5/0/95070ea56bf2d63142b522d0e1c34d5d.png">

However. This equation is only valid in the __continuous time__ domain, therefore without any modification it is useless in the __discrete time__ domain used by every digital machine. You won't be able to create a continuous variable that spans through the duration of the signal from the beginning to the end while taking up every possible value.

Machines work with _discrete time series_ that has a property called __resolution__. Resolution is the link between _continous_ and _discrete_ time domain. This property is implemented with __sampling__. It tells us how many data points were sampled equidistantly from the continuous signal within a time segment. In this way we can represent a continuous signal with discrete data points[^1].

Therefore the _t_ variable in the equation can be represented as a vector of data points. To create such a time vector, you have to choose a sampling interval. 

Let's say you want to get __10 samples per seconds__ _(fs=10Hz)_, and you want to have __20 samples__ in your vector. That also means that your time vector will cover almost __2 seconds__[^2] of continuous time.

<script src="https://gist.github.com/tiborsimon/619da807c9fe3892eaac.js"></script>

You can test that the `t1` and `t2` vector are exactly the same. Both vector starts from zero and ends at 1.9. Having the time vector we can generate a sinusoid signal with a frequency of 1Hz. This will result 2 periods in the signal:

<script src="https://gist.github.com/tiborsimon/ec5c237f47cdee3c7794.js"></script>

If we plot the generated signal, we can see, that it is not a sine signal at all. It is a discrete signal, that has values in discrete points as we expected. 

<img src="/images/smart-sinusoids/signal001.png" />

This method is one of the 4 main signal generation methods where we link the discrete time signal to the continuous time. Having such a connection between the two domain, the signal can be played back with the computer's _digital to analog converter_.

However. There are other use cases when we don't want to link the __discrete time__ to the __continuous time__, so we don't have to bother with the sampling frequency, and we can generate a time vector from 0 to 1, and pass it to the equation:

<script src="https://gist.github.com/tiborsimon/f7f3d7a521c01022b41d.js"></script>

The result will be a 100 sample long sinusoid signal, that contains 3 periods. But be careful. This signal can't be used as the previous one until we specify the sampling frequency.

<img src="/images/smart-sinusoids/signal002.png" />

As you can see, generating sinusoids with these basic methods isn't hard at all. But you __have to think__ about the method, the formulas and the units. This could be a bit time consuming if you have to think about it every time you want to generate a signal..

## Sinusoid signal parameters

There are 9 parameters that a pure sinusoid signal could have. In order to be able to generate any kind of sinusoid signals, you should be familiar with the parameters.

<img src="/images/smart-sinusoids/detailed.png" />


| Parameter name | Unit | Possible parameters   |
|:--------------|:----|:---------------------|
| `phi`        | [degree]    | phase          |
| `A`          | [full scale] | amplitude[^3] |
| `f`          | [Hz]   | frequency           |
| `fs`         | [Hz]  | sample rate          |
| `T`          | [s]   | period               |
| `dt`         | [s]   | sample time          |
| `L`          | [s]   | signal duration      |
| `N`          | [-]   | number of periods    |
| `n`          | [-]   | number of samples    |

With these parameters there are 5 main generation methods for sinusoid signals. Each of them have alternatives that doesn't count as an individual generation method due to the used parameters can be derived from the others if you apply the following formulas: _fs = 1/dt_, _T = 1/f_ and _L=n*dt_.

| Method index | Required parameters | CT DT lock     | Description  |
|:-------------|:------------------|:--------------|:-------------|
| 1 | `n`, `N`          | No  | a signal consisting of `n` data points with `N`<br> periods in it
| 2 | `L`, `N`, `fs`    | Yes | `L` seconds long signal sampled at `fs` consisting of <br>`N` periods in it
| 3 | `f`, `N`, `fs`    | Yes | a signal sampled at `fs` sampling rate with `N` <br>periods in it with the frequency `f`
| 4 | `f`, `n`, `fs`    | Yes | a signal consisting of `n` <br>data points sampled at `fs` sampling rate with the frequency `f`
| 5 | `f`, `L`, `fs`    | Yes | a signal sampled at `fs` sampling rate with the <br>duration of `L` seconds with the frequency `f`

Let's try out all methods, to see how you can use them in practice. Let's generate the same 60 samples of sinusoid signal with 2.5 periods in it with the amplitude 1 at an arbitrary sampling frequency:

<img src="/images/smart-sinusoids/demo_signal.png" />

The used parameters may seem a bit odd for the first time, but due to the constraint of generating the same signal with all the methods, they will be reasonable.

### Method 1 - [n,N]

Generating a sinusoid signal with `n` data points with `N` periods in it.

<script src="https://gist.github.com/tiborsimon/8e167f64fb80e2a95b13.js"></script>



### Method 2 - [L,N,fs]

Generating `L` seconds long signal sampled at `fs` consisting of `N` periods in it.

<script src="https://gist.github.com/tiborsimon/abe9fb85958ee9205ea0.js"></script>



### Method 3 - [f,N,fs]

Generating a sinusoid signal sampled at `fs` sampling rate with `N` periods in it with the frequency `f`.

<script src="https://gist.github.com/tiborsimon/7ba58552ddfc4d605c80.js"></script>



### Method 4 - [n,f,fs]

Generating a signal consisting of `n` data points sampled at `fs` sampling rate with the frequency `f`.

<script src="https://gist.github.com/tiborsimon/d6ea2be7afba202f2923.js"></script>



### Method 5 - [f,L,fs]

Generating a sinusoid signal sampled at `fs` sampling rate with the duration of `L` seconds with the frequency `f`.

<script src="https://gist.github.com/tiborsimon/51dca17af664f51ecc0b.js"></script>


That's it. These 5 methods cover all the possible non redundant ways to generate sinusoidal signals. Did you understand them? Did you like them? Will you use them? Will you _study_ them? Will you _derive_ them over and over again?

If your answers for the last two questions were both _nope_, then the go ahead and meet __Smart Sinusoids__. 




# Smart Sinusoids - the easy way

__Smart Sinusoids__ is a trigonomecric function wrapper that's main purpose is to help you to generate sinusoid signals. It does this with the help of [Simple Input Parser]({% post_url 2015-05-02-simple-input-parser %}) and the _Parameter Engine_ written inside of it. [Simple Input Parser]({% post_url 2015-05-02-simple-input-parser %}) allows you to pass __Smart Sinusoids__ parameters in any order you want, and the _Parameter Engine_ allows you to give any type of parameters and it will try to compose with them a sinusoid signal.

To demonstrate how easy is to use __Smart Sinusoids__ let's compare it to the old fashion way.

<script src="https://gist.github.com/tiborsimon/89c9ca291f761c988d7e.js"></script>

These two script produce exactly the same signal while __Smart Sinusoids__ requires only one line versus a couple of lines with the old method. The biggest advantage is that you don't need to know how to generate the sinusoid with the given requirement set. 

As we have reviewed, there are 5 different method to generate a sinusoid signal depending on the requirements. With __Smart Sinusoids__ the previous five use cases looks like this:

<script src="https://gist.github.com/tiborsimon/a7551c20ca9203eaa6f1.js"></script>

Sounds better and easier? Let's see what can you do with __Smart Sinusoids__.

# Input parameter configurations

__Smart Sinusoids__ uses [Simple Input Parser]({% post_url 2015-05-02-simple-input-parser %}) as an input parser framework, so it can accept various input configurations.

The main advantage here is the arbitrary parameter order. You give the parameters in any order you want. There are two possible style __Smart Sinusoids__ will accepts:

- Arbitrary key-value pairs mode
- Arbitrary bulk parameter mode

## Key-value pairs mode

In this mode you write a parameter name in string, then you pass the value with an existing variable or a pure value. The available keys are the following:

`phi` `A` `f` `fs` `T` `dt` `L` `N` `n` 

You can pass redundant informations, __Smart Sinusoids__ will warn you in case of ambiguity. Here is an example using this mode:

<script src="https://gist.github.com/tiborsimon/8b90eec73bf33cc16385.js"></script>

This small snippet will generate a 2 seconds long 440 Hz tone at the sampling rate of 48 kHz.

Again, the parameter order is arbitrary, and you can pass any combination of parameters, __Smart Sinusoids__ will try to generate a sinusoid signal with the given parameters.

## Bulk parameter mode

This mode allows you to list all parameter keys you want to use at once as the first parameter. After the key listing you list all the values one to another. This mode is much more faster to type than the key-value pairs mode. You can use the same parameter set as before. Let's see an example:

<script src="https://gist.github.com/tiborsimon/6920894232f8a25985b4.js"></script>

This snippet will generate exactly the same signal as the key-value pairs example, however you had to type much less.

Another benefit of using [Simple Input Parser]({% post_url 2015-05-02-simple-input-parser %}) is the no need for spaces. Do you like to type spaces if you doesn't forced to? I don't think so. The following snippet is still a perfectly valid input for __Smart Sinusoids__:

<script src="https://gist.github.com/tiborsimon/ddb0379f90b1bbfeca77.js"></script>

This is the most compact way to tell __Smart Sinusoids__ what you want to generate.

# Output parameter configurations

__Smart Sinusoids__ provides three output configurations:

- No output arguments
- One output argument
- Two output arguments

## No output argument

With this configuration Smart Sinusoid generates a vector containing the desired signal in place. In this way you can use it inside other functions parameterlist e.g. plot and the others.

<script src="https://gist.github.com/tiborsimon/19dac7dc5ab5248675e1.js"></script>

## One output argument

In one output argument configuration __Smart Sinusoids__ loads the output vector in a variable you provided. You can use this variable for further computations.

<script src="https://gist.github.com/tiborsimon/39ddcd1a2e4248f7746e.js"></script>

## Two output arguments

__Smart Sinusoids__ is capable of generating a time vector for the generated signal vector if you use two output parameters. It can generate three types of time vectors, by adding an extra parameter `x` to your parameter list.

| Time vector type | `x` parameter  | Description |
|:-----------------|:-------------------|:------------|
| __Sample count__ _(default)_ | `index` | Sample indexes from 1 to the number of samples.
| Normalized       | `norm`              | Normalized vector spans from 0 to 1.
| Time [s]         | `time` or `s`       | Time duration of the signal in seconds.
| Time [ms]        | `militime` or `ms`  | Time duration of the signal in seconds.

Since MATLAB's plotting functions expects the x vector first, __Smart Sinusoids__ provides the time vector in the first one of the two output parameterst.

<script src="https://gist.github.com/tiborsimon/2eb122ef8ccdadf6f1a5.js"></script>

# The Parameter Engine

The parameter engine tries to generate the needed parameters used by the five methods discussed before from the provided parameters. It uses the following table of equations that consists all of the possible connections between the individual parameters.

| f   | T   | n   | N   | fs  | dt  | L   |
|:---|:---|:---|:---|:---|:---|:---|
| 1/T | 1/f | L fs | L/T | 1/dt | 1/fs | N T |
| N/L | L/N | L/dt | L f | n/L | L/n | n dt |
| n dt/L/T | L/n/dt/f | N T/dt | n dt/T | n/N/T | N T/n | N/f |
| n/fs/T/L | L fs/n/f | N T fs | n dt f | n/L/f/T | L f T/n | n/fs |
| - | - | - | n/fs/T | - | - | - |
| - | - | - | n f/fs | - | - | - |

The signal generator mechanism first tries to use method number one and it asks for the required parameters from the _Parameter Engine_ which tries to construct the parameter from the other given parameters if the needed parameter isn't provided explicitly. If the construction fails too, the engine throws an exception signaling that the method could not be used, and the signal generator falls back to the next generation mechanism, and asks for the necessary parameters from the _Parameter Engine_...

If the last generator method failed, the generator mechanism warns the user that the provided parameters were insufficient.

# Dependency

Since __Smart Sinusoids__ uses [Simple Input Parser]({% post_url 2015-05-02-simple-input-parser %}) you have to make sure that [Simple Input Parser]({% post_url 2015-05-02-simple-input-parser %}) is in your path. If you are not sure, how to use the MATLAB path, just copy `simple_input_parser.m` file next to the three __Smart Sinusoids__ file, and you are good to go.

There is another solution though. I have created a MATLAB library handling script [__MATLAB Library System__]({% post_url 2015-06-02-matlab-library-system %}) that helps you to create libraries that you can turn on or off. With this script you can make file visible from a different folder than you are currently in. You can turn on or turn off files in libraries to be visible also. If you are tired of MATLAB and you want to make it a little bit more useful, [__MATLAB Library System__]({% post_url 2015-06-02-matlab-library-system %}) worth a look.

Of course, you can set your path manually at any time if you prefer that way :)

# Summary

Do you like these features? If you do, don't hesitate to try it out. 

{% include repo_and_release.html %}





[^1]: Of course this is a very high level overview of the [sampling theorem](http://en.wikipedia.org/wiki/Nyquist-Shannon_sampling_theorem). There are much more detail how these things really work.

[^2]: Because we have started our time vector from 0 as the first vector point, the remained 19 points wont cover all the 2 seconds time duration but will span until 1.9 seconds _(2s - 1/fs = 1.9s)_.

[^3]: PC sound cards usually accept signals scaled -1 to 1.
-->